.container {
  flex: 1;
  margin: "5px";
}
/* 
.product-img {
  max-width: 200px;
  max-height: 200px;
} */

.name {
  background: #e33105;
  color: white;
  font-weight: "bold";
  font-size: larger;
}

.black-8 {
  background: rgb(228, 228, 228)
}

.black-9 {
  background: rgb(231, 231, 231)
}